[submodule "chapter-3-solidity/Voting/lib/ds-test"]
	path = chapter-3-solidity/Voting/lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "chapter-3-solidity/Voting/lib/openzeppelin-contracts"]
	path = chapter-3-solidity/Voting/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "chapter-7-defi/Staking/lib/forge-std"]
	path = chapter-7-defi/Staking/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
